Host adhub-cpanel
  HostName ad-hub.digital
  User johnn315
  Port 22
  IdentityFile ~/.ssh/id_ed25519_adhub
  IdentitiesOnly yes
  ServerAliveInterval 30
  ServerAliveCountMax 120
  StrictHostKeyChecking accept-new

