<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /api/ad-hub/
RewriteRule ^proxy\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . proxy.php [L]
</IfModule>

<IfModule mod_env.c>
SetEnv ADHUB_GO_BIND_EXTRA http://162.241.2.132:3041
</IfModule>
